In [59]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from utils.dbUtils import *

ModuleNotFoundError: No module named 'utils'

In [58]:
df = pd.read_csv("/mnt/work/bitfinex_api/example/data/bitfinex_btcusd.csv")
print(df.head())
now=datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))
close_df=df[(df['time'] >='2019-07-28 16:00:00') & (df['time'] <= '2019-07-28 16:15:00')].head(n=42).iloc[:,2]
close_df
current=df[(df['time'] =='2019-07-28 16:00:00')]
list=[[current.iloc[0,1],current.iloc[0,2],current.iloc[0,3],current.iloc[0,4],current.iloc[0,5]],]
print(list)
# time_format="%Y-%m-%d %H:%M:%S"
# start_date="2018-01-01 00:00:00"
# start_date=(datetime.strptime(start_date,time_format)+timedelta(seconds=600)).strftime(time_format)
# print(start_date)
# for x in range(10):
#     print(x)
a=pd.DataFrame([0 for x in range(10)])
a

oder_sql='select * from orders where order_id={}'.format(9999)
data=db_execute_sql(order_id)
print(data)

                  time    open   close         high     low      volume
0  2019-07-28 16:00:00  9500.9  9500.0  9505.300000  9488.9  108.744593
1  2019-07-28 16:05:00  9499.9  9523.8  9526.500000  9499.9   38.353597
2  2019-07-28 16:10:00  9518.3  9520.2  9540.200000  9516.6   23.590899
3  2019-07-28 16:15:00  9524.0  9535.8  9542.953008  9521.4   16.595092
4  2019-07-28 16:20:00  9535.8  9519.2  9536.700000  9519.2    3.313630
2019-07-31 12:23:53
[[9500.9, 9500.0, 9505.3, 9488.9, 108.74459319]]

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0